KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/kernel/initcall.o \
$(ARCHDIR)/kernel/delay.o \
$(ARCHDIR)/kernel/acpi/acpi_x86.o \
$(ARCHDIR)/kernel/boot/boot.o \
$(ARCHDIR)/kernel/boot/initx86.o \
$(ARCHDIR)/kernel/boot/main.o \
$(ARCHDIR)/kernel/drivers/console/vga_console.o \
$(ARCHDIR)/kernel/drivers/debug/pc_serial_debug.o \
$(ARCHDIR)/kernel/drivers/ide/pci_ide.o \
$(ARCHDIR)/kernel/drivers/keyboard/at_keyboard.o \
$(ARCHDIR)/kernel/graphics/bochs_vga.o \
$(ARCHDIR)/kernel/irq/irq.o \
$(ARCHDIR)/kernel/irq/pic.o \
$(ARCHDIR)/kernel/irq/timer.o \
$(ARCHDIR)/kernel/memory/mmio.o \
$(ARCHDIR)/kernel/memory/paging.o \
$(ARCHDIR)/kernel/scheduler/task_switch.o \
$(ARCHDIR)/kernel/scheduler/task.o \
$(ARCHDIR)/panic.o \
	
KERNEL_ARCH_TEST_OBJS=\