KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/kernel/acpi/acpi_x86.o \
$(ARCHDIR)/kernel/boot/boot.o \
$(ARCHDIR)/kernel/boot/main.o \
$(ARCHDIR)/kernel/irq/irq.o \
$(ARCHDIR)/kernel/memory/paging.o \
$(ARCHDIR)/kernel/pci/pci.o \
$(ARCHDIR)/kernel/scheduler/task_switch.o \
$(ARCHDIR)/kernel/scheduler/task.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/panic.o \
	
KERNEL_ARCH_TEST_OBJS=\